<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div th:if="${errorMsg}">
            <p th:text="${errorMsg}" class="error"></p>
        </div>
        <button type="submit">로그인</button>
    </form>
    <div th:if="${msg}">
        <p th:text="${msg}" class="info"></p>
    </div>
</div>
</body>
</html>